@model Bricks.Models.Property

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfReceptionRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfReceptionRooms)
        </dd>

        <dt>
            Picture
        </dt>

        <dd>
            <!-- But what if the image URL passed in isn't valid?  TODO: Test that  -->
            <img src="@Html.DisplayFor(model => model.HousePicUri)" height="150" width="150" />
        </dd>

    </dl>
</div>
<div>
    @{if (User.Identity.IsAuthenticated)
        {
            <p><a class="btn btn-default" href="../../Bids/Create">Bid on this property &raquo;</a></p>
        }
        else
        {
            <p><a class="btn-default" href="../../Account/Login">Login to bid on this property &raquo;</a></p>
            }
        }

</div>
<p> 
    @Html.ActionLink("Back to List", "./Index")
</p>
